/* このサイトは其々の市の投稿デザインを編集する部分 */
/* 鹿児島市のサイトデザイン */
.ptkgs{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真は自分のもの
    opacity: 1; //背景色の透明度を調整するもの
    border: 15px ridge #A0522D;    //枠の厚さと模様と色を設定するもの
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;
}
/* 姶良市のサイトデザイン */
.ptars{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真は自分のもの
    border: 15px ridge #A0522D;;
}
/* 霧島市のサイトデザイン */
.ptkrsms{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真はフリー素材
    border: 15px ridge #A0522D;;

}
/* 湧水町のサイトデザイン */
.ptyst{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 伊佐市のサイトデザイン */
.ptiss{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 出水市のサイトデザイン */
.ptim{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;     //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* さつま町のサイトデザイン */
.ptstmt{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 阿久根市のサイトデザイン */
.ptakns{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 長島町のサイトデザイン */
.ptast{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 薩摩川内市のサイトデザイン */
.ptstmsds{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* いちき串木野市のサイトデザイン */
.ptikkns{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 日置市のサイトデザイン */
.pthos{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;     //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 南さつま市のサイトデザイン */
.ptmstms{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真は自分のもの
    border: 15px ridge #A0522D;;
}
/* 枕崎市のサイトデザイン */
.ptmzs{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真は自分のもの
    border: 15px ridge #A0522D;;
}
/* 南九州市のサイトデザイン */
.ptmkss{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真は自分のもの
    border: 15px ridge #A0522D;;
}
/* 指宿市のサイトデザイン */
.ptiss{
    background-image: url("background-image-pt.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 曾於市のサイトデザイン */
.ptsos{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 志布志市のサイトデザイン */
.ptsbss{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 南大隅町のサイトデザイン */
.ptmost{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 錦江町のサイトデザイン */
.ptkkt{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 鹿屋市のサイトデザイン */
.ptkys{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 垂水市のサイトデザイン */
.pttms{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 大崎町のサイトデザイン */
.ptost{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 東串良町のサイト内容 */
.pthkrt{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}
/* 肝付町のサイト内容 */
.ptktt{
    background-image: url("background-image-pts.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    //写真はフリー素材
    border: 15px ridge #A0522D;;
}

